body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
}
.form-container {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}


textarea {
    resize: vertical;
    min-height: 60px;
}
button {
    margin: 10px 10px;
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #00bfff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover {
    background-color: #0099cc;
}

fieldset {
  border: 1px solid #444;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 20px;
}

legend {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}